<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.medicalservice.mapper.DictionaryMapper">
    <resultMap type="com.example.medicalservice.domain.DictionaryType" id="DictionaryTypeResultMap">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="typeName" jdbcType="VARCHAR" column="type_name"/>
        <result property="typeCode" jdbcType="VARCHAR" column="type_code"/>
        <result column="creat_time" jdbcType="DATE" property="creatTime"/>
        <collection property="dictionaryDetails" javaType="list" ofType="com.example.medicalservice.domain.DictionaryDetail">
            <id column="id" property="id"></id>
            <result property="typeCode" jdbcType="VARCHAR" column="type_code"></result>
            <result property="id" jdbcType="INTEGER" column="id"></result>
            <result property="name" jdbcType="VARCHAR" column="name"></result>
            <result property="value" jdbcType="INTEGER" column="value"></result>
        </collection>
    </resultMap>
    <resultMap type="com.example.medicalservice.domain.DictionaryDetail" id="DictionaryDetailResultMap">
        <result property="typeCode" jdbcType="VARCHAR" column="type_code"/>
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="value" jdbcType="INTEGER" column="value"/>
        <result column="creat_time" jdbcType="DATE" property="creatTime"/>
    </resultMap>
</mapper>