<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.medicalservice.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.medicalservice.domain.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="title" property="title" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="sort" property="sort" />
        <result column="component" property="component" />
        <result column="hidden" property="hidden" />
        <result column="role" property="role" />
    </resultMap>
    <insert id="insert" parameterType="com.example.medicalservice.domain.Menu">
        insert into menu(parent_id, title, name, icon, path, sort, component, hidden, role)
        values (#{parentId}, #{title}, #{name}, #{icon}, #{path}, #{sort}, #{component}, #{hidden}, #{role})
    </insert>
    <insert id="insertBatch" parameterType="com.example.medicalservice.domain.Menu">

    </insert>
    <update id="update" parameterType="com.example.medicalservice.domain.Menu">
        update menu
        <set>
            <if test="title != null">
                title = #{title}
            </if>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="icon != null">
                icon = #{icon}
            </if>
            <if test="sort != null">
                sort = #{sort}
            </if>
            <if test="hidden != null">
                hidden = #{hidden}
            </if>
            <if test="role != null">
                role = #{role}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from menu
        where id = #{menuId}
    </delete>
    <select id="selectAllByRoleId" resultType="com.example.medicalservice.domain.Menu"
            parameterType="java.lang.Integer">
        select m.id,
               parent_id,
               title,
               name,
               icon,
               path,
               sort,
               role,
               component,
               hidden
        from menu m,
             role_menu
        where m.id = role_menu.menu_id
          and role_id = #{roleId}
    </select>
    <select id="selectAllMenuByUserId" resultType="com.example.medicalservice.domain.Menu"
            parameterType="java.lang.Integer">
        select m.id,
               parent_id,
               title,
               name,
               icon,
               path,
               sort,
               role,
               component,
               hidden
        from menu m,
             role_menu
        where m.id = role_menu.menu_id
          and role_id = (select role_id
                         from users
                         where id = #{userId})
    </select>
    <select id="selectAllMenu" resultType="com.example.medicalservice.domain.Menu">
        select * from menu
    </select>

</mapper>
