<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.medicalservice.mapper.RoleMapper">
    <resultMap id="RoleResultMap" type="com.example.medicalservice.domain.Role">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="desc" jdbcType="VARCHAR" property="Desc" />
        <result column="perms" jdbcType="VARCHAR" property="Perms" />
    </resultMap>

    <select id="getRole" parameterType="int" resultMap="RoleResultMap">
        select * from roles where role_id = #{roleId}
    </select>


</mapper>
